<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="/css/DoctorHome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-jD+zMpKsNUgMw+1E8NtGGr25Nvqg9etzkDXt/sG8WYnh/xyv2Q1zLwzIh8aDleGnyJ+18GIlIjPEnYibYhJc1Q==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/4b561163af.js" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<a class="navbar-brand" href="#"  style="color: #007bff; font-weight: bolder;"><img src="\images\logo.png" alt=""> MEDICO</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon"></span>
		 </button>
		 <div class="collapse navbar-collapse" id="navbarNav">
		   <ul class="navbar-nav ml-auto">
			 <li class="nav-item active">
			   <a class="nav-link" href="#">Home</a>
			 </li>
			 
			
			
			 <li class="nav-item">
			   <a class="nav-link" href="#footerss">Contact Us</a>
			 </li>
			
		
		   </ul>
		 </div>
	   </nav>
  
	<section id="login">
		<div class="container">
		  <div class="row">
			<div class="col-md-6">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Log in</h5>
				  <form action="/DoctorLogin" method="post">
					<div class="form-group">
					  <label for="username">Username</label>
					  <input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
					</div>
					<div class="form-group">
					  <label for="password">Password</label>
					  <input type="password" class="form-control" id="password" placeholder="Password" name="password">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				  </form>
				</div>
			  </div>
			</div>
			<div class="col-md-6">
			  <img src="caring-web-landing-banner-character-nurse-take-blood-male-patient-flat-vector-illustration-button-home-login-contact-179843021.jpg" alt="Login Image" class="img-fluid">
			</div>
		  </div>
		</div>
	  </section>
	  <footer id="footer">
        <i class="fa-brands fa-twitter  contlogo"></i>
        <i class="fa-brands fa-facebook contlogo"></i>
        <i class="fa-brands fa-instagram contlogo"></i>
        <i class="fa-solid fa-envelope  contlogo"></i>
        <p>© Copyright Pseudocodes</p>
    
      </footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
